apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-hykcugzh
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-hykcugzh:b1c798cf84147fadfe8996114017a62c63a00b42@sha256:5b47a0c6cb38ad8bdae123218f53145a85d1b9dbaf5e20cbdaf28824dd5d4a4d
        name: container-image  
